@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* base styles */
body {
	font-family: 'Lobster', cursive;
	margin: 0;
	font-size: 1.5em;
	text-align: center;
	background-color: white;
	color: #252723;
}
